
article#files {
  overflow: hidden;

  header {
    >#breadcrumbs {
      display: flex;
      flex-grow: 1;
      min-width: 0;
      align-items: center;
  
      font-size: 1.5em;
      font-weight: 300;
      white-space: nowrap;
      
      >span { 
        display: flex;
        align-items: center;
  
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      >a,
      >span:last-child {
        flex-shrink: 0 !important;
      }
  
      a {
        color: inherit;
        transition: .1s ease-in;
        border-radius: 0.25rem;
        padding: 0.5rem;
        overflow: hidden;
        flex-shrink: 1;
        text-overflow: ellipsis;
  
        &:hover {
          background-color: rgba(0,0,0, 0.05);
        }
      }
    }
  
    >#actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      white-space: nowrap;
  
      .action span {
        display: none;
      }
  
      .separator {
        border-left: 1px solid var(--border-color);
        margin: 0 0.5em;
        height: 2em;
      }
  
      button>.counter {
        display: block;
        
        width: 2em;
        height: 2em;
        padding: 0.3em;
  
        color: #fff;
        font-size: 0.7em;
        font-weight: bold;
      }
    }
  }
  
  #listing {
    //overflow-y: scroll;

    display: flex;
    overflow: hidden;

    .content {
      overflow-y: auto;
    }

    p { margin: 0 }
  
    .item {
      div:last-of-type {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      }
  
      .name {
        font-weight: 500;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
      }
  
      .size,
      .modified {
        font-size: 0.9em;
      }
    }
  
    .item[aria-selected=true] {
      color: #fff !important;
      background-color: var(--accent-color-8) !important;
    }
    
    .item:hover {
      color: --accent-color;
      background-color: var(--accent-color-0);
    }
  
  }
  
  #listing.list {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
  
    h2 { display: none }
    
    .items.folders {
      margin-top: -1px;
  
      .item .icon {
        font-family: 'Material Icons';
        color: var(--accent-color);
      }
    }
  
    .item.header {
      height: 3em;
      flex-shrink: 0;
      display: flex !important;
      
      border-width: 0 0 1px 0;
  
      p {
        cursor: pointer;
        font-weight: 500;
        font-size: inherit !important;
  
        i {
          opacity: 0;
          margin: 0 .2em;
          font-size: 1em;
          vertical-align: middle;
          transition: .1s ease all;
        }
  
        span {
          vertical-align: middle;
        }
    
        &:hover i,
        &.active i { opacity: 1 }
  
        &.name {
          padding-left: 1em;
        }
      }
    }
  
    .item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      
      position: relative;
      transition: .1s ease background, .1s ease opacity;
      align-items: center;
  
      width: 100%;
      margin: 0;
      border: 0 solid rgba(0,0,0,.1);
      border-bottom-width: 1px;
  
      &[aria-selected=true] {
        border-color: transparent;
      }
  
      .icon {
        padding: 0.5rem 1rem;
      }
  
      .name {
        flex-grow: 1;
        white-space: nowrap;
      }
  
      .modified {
        width: 9rem;
        text-align: right;
        padding: 0 0.5em;
        flex-shrink: 0;
      }
  
      .size {
        width: 7rem;
        text-align: right;
        padding: 0 1em;
        flex-shrink: 0;
      }
    }
  }
  
  #listing.mosaic {
    h2 {
      margin: 1em;
      font-size: 1em;
      font-weight: 500;
    }
    
    .item.header {
      display: none;
    }
  
    .items {
      display: flex;
      flex-wrap: wrap;
    }
  
    .item {
      display: flex;
      align-items: center;
  
      width: calc(33% - 1em);
      margin: .5em;
      padding: .5em;
      border-radius: .5em;
      border: 1px solid var(--border-color);
  
      .icon {
        padding: 0.5rem 1rem;
      }
  
      .size,
      .modified { display: none }
    }
    
  }
  
  #dragged {
    color: #fff;
    font-weight: bold;
    padding: 0.8em 1.2em;
    
    border-radius: 0.3em;
    background: var(--accent-color);
    box-shadow: 1px 1px 4px var(--shadow-color);
  }
}


#menu.inactive {
  display: none;
}
#menu.active {
	position: fixed;
	z-index: 99999;
	flex-direction: column;

	padding: 0.6em 0;
	border-radius: 0.5em;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,.2);

	.separator {
		border-top: 1px solid rgba(0,0,0,0.1);
		margin: 0.5em 0;
	}

	.action {
		display: flex;
    align-items: center;
    width: 20em;
		padding: 0 1em;
		border-radius: 0;
		
		i {
			color: --main-color;
			padding: .2em .4em;
		}

		i+span { display: block !important }

		&:hover {
			background-color: rgba(0,0,0,.1);
		}
	}
}
