@import 'colors';

.mobile { display: none !important }

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 4.5em;
  width: 100vw;
  
  padding: 0.5em;
  
  display: flex;
  align-items: center;

  background-color: white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 5px $shadow-color;
  
  .left, .right {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  div.left {
    img {
      height: 3.5em;
      margin: 0 0.5em;
    }
  
    h2 {
      font-weight: 300;
      font-size: 2em;
      margin: 0 0.25em;
    }  
  }

  div.right {
    justify-content: flex-end;

    div {
      display: flex;
    }
  }

/*
  >div {
    display: flex;
    padding: 0.5em 0.5em 0.5em 1em;
    align-items: center;
  }

  >div div {
    vertical-align: middle;
    position: relative;
  }
*/

}