header {
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  display: flex;

  height: 4.5em;

  div.separator {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0.5em;
  }

  div:first-child>.action,
  img {
    margin-right: 1em;
  }

  img {
    height: 3em;
  }

  h2 {
    font-weight: 300;
  }

  >div:first-child>.action {
    display: none;
  }

  >div {
    display: flex;
    padding: 0.5em 0.5em 0.5em 1em;
    align-items: center;
  }

  .action>span {
    display: none;
  }

  >div div {
    vertical-align: middle;
    position: relative;
  }

  >div:last-child div {
    display: flex;
  }

  >div:first-child {
    height: 4em;
    width: 100%;
  }

  >div:last-child {
    justify-content: flex-end;
  }

  .search-button {
    display: none;
  }

  #more {
    display: none;
  }
}