
#prompts {
	.overlay {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.5);
		animation: .1s show forwards;
	}

	.card {
		position: fixed;
		z-index: 99999;
		top: 50%;
		left: 50%;
		width: 90%;
		max-width: 30em;
		max-height: 95%;
		transform: translate(-50%, -50%);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

		background-color: #fff;
		animation: .1s show forwards;
		border-radius: 0.5em;
		padding: 1.5em 2em;

		.card-title {
			display: flex;
			padding-bottom: 1em;
			
			h2 {
				font-size: 1.5em;
				font-weight: 400;
				margin: 0;
			}
		}

		.card-content {
			.action i { font-size: 20px }

			input, select {
				flex-grow: 1;
				font-size: 1.1em;
				padding: .2em .5em;
				border-radius: 2em;
				border: 2px solid --border-color;

				&:focus {
					border: 2px solid --accent-color;	
				}

				&:hover {
					border: 2px solid rgba(--accent-color,.5);
				}
			}
		}

		.card-action {
			display: flex;
			justify-content: flex-end;
			padding-top: 1em;

			.action {
				background-color: #eee;
			}
		}

	}

}

.card#download {
  max-width: 15em;
}

.card#share ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card#share ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card#share ul li a {
  color: var(--blue);
  cursor: pointer;
  margin-right: auto;
}

.card#share ul li .action i {
  font-size: 1em;
}

.card#share ul li input,
.card#share ul li select {
  padding: .2em;
  margin-right: .5em;
  border: 1px solid #dadada;
}

.card#share .action.copy-clipboard::after {
  content: 'Copied!';
  position: absolute;
  left: -25%;
  width: 150%;
  font-size: .6em;
  text-align: center;
  background: #44a6f5;
  color: #fff;
  padding: .5em .2em;
  border-radius: .4em;
  top: -2em;
  transition: .1s ease opacity;
  opacity: 0;
}

.card#share .action.copy-clipboard.active::after {
  opacity: 1;
}
