
article#settings {
  fieldset {
    margin: 1em;
    padding: .5em 1em;

    position: relative;
    border: none;
    border-radius: 0.5em;
    background-color: var(--main-color-0);

    h2, h3 {
      color: var(--accent-color);
      font-weight: 500;
      margin-bottom: 1em;
      text-align: left;
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.2em;
    }

    h3 {
      font-size: 1.1em;
    }

    label {
      border-radius: 0.5em;
      display: block;
    }

    input, select {
      border-radius: 0.5em;
      margin: .5em 0;
    }

    button[type=submit] {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      color: var(--accent-color);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
