@import 'colors';

nav#sidebar {
	position: fixed;
  left: 0;
	top: 4.5em;
  width: 240px;
	height: calc(100vh - 4.5em);
	overflow: auto;
	
  padding-top: 0.5em;

	.action {
		display: flex;
		align-items: center;

		font-size: 1em;
		padding: 0 .5em;
		
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		border-radius: 0 2em 2em 0;
		
		&:hover {
			background-color: rgba($main-color,0.1);
		}

		&.active {
			color: $accent-color;
			font-weight: 500;
			background-color: rgba($accent-color,0.1);
		}
	}

	#drive {
		.item[aria-level='0'] {
			padding: 0 .5em !important;
			i.icon { 
				padding: 0.4em 0.4em 0.4em 0;
				font-family: 'Material Icons Outlined';
			}
		}

		.item {
			display: flex;
			align-items: center;

			i.chevron {
				padding: 0;
				transition: all 0.1s linear;
			}

			i.icon {
				padding: 0 0.4em 0 0;
				font-family: 'Material Icons'
			}

			.name {
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 500;
			}

			&.opened i.chevron { transform: rotate(90deg) }
			&.selected {
				color: $accent-color;
				background-color: rgba($accent-color,0.1);
			}
		}
	}

	>div.separator {
		border-top: 1px solid $border-color;
		margin: 0.5em 0;
	}
}

